body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#header {
    background-color: #317f6f;
    color: white;
    padding: 10px;
    text-align: center;
}

#header h1 {
    margin: 0;
}

#container {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 200px;
    background-color: #219673;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
}

#main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Add scrollbar if content overflows */
}
